body{
    background: cyan;
}
.watch{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}
.heading h1{
    font-size: 100px;
    color: violet;
}
.numbers h1{
    display: inline-block;
    font-size: 80px;
    background: green;
    color: white;
    width: 15%;
}
.buttons button{
    border-radius: 50%;
    padding: 20px;
    font-size: 30px;
    color: white;
    background: blueviolet;
    border: none; 
}
button:focus{
    outline: none;
}